.figure {
  position: relative;
  display: block;
  width: 200px;
  height: 200px;
  border: 2px solid black;
}

.figure__oval {
  position: absolute;
  top: 25%;
  right: 20%;
  width: 120px;
  height: 80px;
  background: #bfc0c0;
  border-radius: 50%;
  z-index: 4;
}

.figure__circle {
  position: absolute;
  width: 50px;
  height: 50px;
  background: #7b7c7c;
  border-radius: 50%;
  right: 1%;
  top: 17%;
  z-index: 5;
}

.figure__nose {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 8px solid #000;
  top: 45%;
  left: 58%;
}

.figure__eye1 {
  position: absolute;
  width: 10px;
  height: 4px;
  background: #000;
  border-radius: 15px 15px 0 0;
  top: 35%;
  left: 35%;
}

.figure__eye2 {
  position: absolute;
  width: 10px;
  height: 4px;
  background: #000;
  border-radius: 15px 15px 0 0;
  top: 35%;
  right: 5%;
}

.figure__mouthe-right {
  position: absolute;
  width: 8px;
  height: 1.5px;
  background: #000;
  -webkit-transform: rotate(35deg);
          transform: rotate(35deg);
  top: 62%;
  right: 19%;
}

.figure__mouthe-left {
  position: absolute;
  width: 8px;
  height: 1.5px;
  background: #000;
  -webkit-transform: rotate(-35deg);
          transform: rotate(-35deg);
  top: 62%;
  left: 49%;
}

.figure__ear-left {
  position: relative;
  width: 15px;
  height: 15px;
  background: #a0a1a1;
  border-radius: 50%;
  top: 10%;
  left: 60%;
  z-index: 1;
}

.figure__ear-left::after {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  background: #e7ebeb;
  border-radius: 50%;
  left: 25%;
  top: 25%;
}

.figure__ear-right {
  position: relative;
  width: 15px;
  height: 15px;
  background: #a0a1a1;
  border-radius: 50%;
  bottom: 9%;
  left: 82%;
  z-index: 1;
}

.figure__ear-right::after {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  background: #e7ebeb;
  border-radius: 50%;
  left: 20%;
  top: 25%;
}

.figure__tail {
  position: absolute;
  top: 25%;
  right: 20%;
  width: 80px;
  height: 15px;
  background: #7e8181;
  border-radius: 50%;
  -webkit-transform: rotate(75deg);
          transform: rotate(75deg);
  left: 0%;
  z-index: 3;
}

.figure__leg-back {
  position: relative;
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 10px solid transparent;
  border-top: 50px solid #bfc0c0;
  top: 48%;
  left: 20%;
}

.figure__leg-back::before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 10px solid transparent;
  border-top: 50px solid #7e8181;
  bottom: 10%;
}

.figure__leg-front {
  position: relative;
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 10px solid transparent;
  border-top: 50px solid #bfc0c0;
  top: 25%;
  left: 55%;
}

.figure__leg-front::before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 10px solid transparent;
  border-top: 50px solid #7e8181;
  bottom: 10%;
}
