.class1{
  background-color: rgba(90, 238, 238, 0.507);
  margin: 0px;
  padding: 5px 0px;
}

.class2{
  background-color: rgba(218, 104, 104, 0.76);
  margin: 0px;
  padding: 5px 0px;
}

.bold_style {
  font-weight: bold;
}

button {
  padding: 7px;
}