.boyflex{
    display: flex;
    align-items: flex-end;
    &__kirp{
        opacity: 0;
    }
}

.d-none {
    display: none;
}

.boy-animate {
    animation: boy 0.5s infinite forwards;
}
@keyframes boy {
    50% {
        transform:translateX(10px);
    }

    100% {
        transform: translateX(-10px);
    }
}

.kirp-anim{
    transition: 1.5s;
    opacity: 1;
}

.kirp-anim2 {
    animation: kirp 2s normal forwards;
    // animation-iteration-count: 1;
    // animation-fill-mode: forwards;
}
@keyframes kirp {
    10% {transform:rotate(0deg) translateX(0vh);}
    60% {transform:rotate(-180deg) translateX(-50px);}
    95% { transform: translateY(-100vh); }
}